body{
    text-align:center;
    font-style: Times New Roman;
background-color: rgb(0, 170, 255);

}
#image{ 
    border: 5px solid black;
   
border-radius: 50%;
}
.head{ display: flex;
    justify-content: center;
    align-items: center;    
}